.carousel-container {
  position: relative;
  top: 170px;
  width: 400px; 
  overflow: hidden;
  margin: 0 auto; 
  border-radius: 50px;
  background-color: white;
  border: #646464ca solid;
  border-width: 5px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 400px; 
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #646464ca;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slide-title {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  color: #000000;
  margin: 10px;
}
